@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  list-style: none;
  line-height: 400%;
}

li {
  color: #333;
  font-family: Actor;
  font-size: 1.125rem;
  display: flex;
  gap: 1rem;
}

.features {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  background: #f3f3f3;
}

.f-heading {
  color: #008080;
  text-align: center;
  font-family: Actor;
  font-size: 2.25em;
  font-weight: 400;
  padding: 2em 0 0 0;
}

.Underline {
  text-align: center;
  padding: 0 0 4em 0;
}

.Feature-1 {
  display: flex;
  justify-content: space-around;
  margin: 0 0 2em 3em;
}

.Feature-2 {
  display: flex;
  justify-content: space-around;
  margin: 0 0 2em 3em;
}

.f-content {
  margin: 0 4em 0 0;
}

.f-head {
  color: #008080;
  font-family: Actor;
  font-size: 1.5rem;
  margin: 3em 0 2em 1.7em;
}

.f-btn {
  color: white;
  display: inline-flex;
  padding: 1.25rem 2rem;
  margin: 0 0 0 3em;
  align-items: center;
  gap: 0.1875rem;
  border: none;
  border-radius: 0.5rem;
  background: #008080;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
