* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hero {
  display: flex;
  background: #bee1e6;
}

.hero-left {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 4em 0 0 6em;
}

.l-text1 {
  color: white;
  font-weight: 500;
  border: 1px solid #006d77;
  border-radius: 1rem;
  background: #006d77;
  width: fit-content;
  padding: 0.5em 1em;
  margin: 0 0 1.5em 0;
}

.l-text2 {
  font-size: 4em;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 0.7em 0;
}

.l-text3 {
  color: #444;
  font-size: 1.2em;
  font-weight: 300;
  margin: 0 0 3em 0;
}

.l-buttons {
  display: flex;
  flex-direction: row;
  margin: 0 0 4em 0;
}

.l-button1 {
  border: none;
  align-items: center;
  padding: 1.25rem 2rem;
  margin: 0 6em 0 0;
  border-radius: 0.5rem;
  background: #030303;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 500 "Roboto", sans-serif;
}

.l-button2 {
  padding: 1.25rem 2rem;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #006d77;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  background: #bee1e6;
}

.hero-right {
  flex: 2.5;
}

.transRectangle {
  z-index: 11;
  position: absolute;
  top: 9em;
  right: 10em;
  border-radius: 2.3125rem;
  border: 2px solid #006d77;
  background: #bee1e6;
  width: calc(1.2 * 19.6875rem);
  height: calc(1.2 * 24.625rem);
}

.doctorImg {
  z-index: 12;
  position: absolute;
  padding-top: 3em;
  top: 8em;
  right: 8em;
}

.doctor {
  width: calc(1.2 * 19.6875rem);
  height: calc(1.2 * 24.625rem);
}

.whiteRectangle {
  z-index: 13;
  position: absolute;
  top: 22em;
  right: 22em;
  width: calc(1.2 * 11.5rem);
  height: calc(1.2 * 11.9375rem);
  flex-shrink: 0;
  border-radius: 1.125rem;
  background: #fff;
}

.wavesImg {
  z-index: 14;
  position: absolute;
  top: 24.5em;
  right: 22em;
}

.waves {
  width: calc(1.2 * 11.5rem);
  height: calc(1.2 * 11.9375rem);
}
